* {
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --cell-width: 4%;
  --cell-height: 4%;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin: 40px auto;
  border: 1px solid #000000bd;
}

.grid-buttons {
  width: inherit;
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.btn {
  padding: 1em 2em;
  margin: 5px;
}

.cell {
  width: var(--cell-width);
  height: var(--cell-height);
  border: 1px solid #000000bd;
}

.count {
  margin-top: 30px;
}

.alive {
  background: rgb(52, 212, 52);
}

.dead {
  background: #ffffff;
}

.go {
  background: rgb(52, 212, 52);
}

.no-go {
  background: #b9b3b3;
}
